main {
  height: 100% !important;
}

nav {
  background-color: var(--primaria);
}

nav .brand, h1 {
  font-family: "Rowdies", sans-serif;
}

#inicio p {
  font-family: "Roboto", sans-serif;
}

nav li, nav button {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  border: none !important;
}

.smellbook .verao {
  color: var(--verao);
}

.smellbook .inverno {
  color: var(--inverno);
}

.smellbook .outono {
  color: var(--outono);
}

.smellbook .primavera {
  color: var(--primavera);
}

.cadernetas {
  width: 612px;
}

#sobre {
  background-color: var(--primaria);
}

#sobre h2 {
  font-family: "Poppins", sans-serif;
}

#sobre .cards {
  margin-top: 70px;
}

#sobre {
  min-height: inherit;
  padding: 80px;
}

#sobre .colunaimg {
  position: relative;
}

#sobre .quadrado-branco {
  position: absolute;
  background-color: #ffffff;
  left: -10%;
  top: -10%;
  width: 363px;
  height: 344px;
  z-index: 10;
}

.icone-caracteristica {
  font-size: 72px;
}

.caracteristica-verao {
  color: var(--verao);
}

.caracteristica-outono {
  color: var(--outono);
}

.caracteristica-primavera {
  color: var(--primavera);
}

.caracteristica-inverno {
  color: var(--inverno);
}

.blocos-cadernetas {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 350px;
  margin-bottom: 40px;
  
}

.verao1 {
  color: yellow;
  text-align: center;
  border: 2px solid yellow;
  width: 230px;
  height: 285px;
  margin-bottom: 40px;
  margin-left: 1180px;
  
}
.outono2 {
  color: orange;
  text-align: center;
  border: 2px solid orange;
  width: 235px;
  height: 285px;
  margin-bottom: 40px;
}
.primavera3 {
  color: palevioletred;
  text-align: center;
  border: 2px solid palevioletred;
  width: 230px;
  height: 285px;
  margin-bottom: 40px;

}
.inverno4 {
  color: rgb(18, 18, 242);
  text-align: center;
  border: 2px solid rgb(18, 18, 242);
  width: 230px;
  height: 285px;
  margin-bottom: 40px;
  
}

.amarelo > img {
  width: 200px;
  height: 215px;
}
.laranja > img {
  width: 200px;
  height: 215px;
}
.rosa > img {
  width: 200px;
  height: 215px;
}
.azul > img {
  width: 200px;
  height: 215px;
}

#carousel .slide {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

}
.carousel-container {
  max-width: 800px; /* Defina a largura máxima conforme necessário */
  margin: auto; /* Isso centralizará horizontalmente */
} 

.Titulo-produtos {
  text-align: center;
  margin-top: 100px;
}

.paragrafo-produtos {
  text-align: center;
}
#carouselExample {
  background-color: black;
  max-width: 1200px;/* Defina a largura máxima conforme necessário */
  margin: auto;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center; 
  width: 800px;
  height: 200px;
}
.carousel-control-next-icon {
  background-color: #c0c0c0; /* Substitua pela cor desejada */
}

.carousel-control-prev-icon {
  background-color: #c0c0c0;
}

.carousel-control-prev {
  top: 150px;
  right: -40px;
}

.carousel-control-next {
  top: 150px;
  right: -40px;
}
