main {
  height: 100% !important;
}

nav {
  background-color: var(--primaria);
}

nav .brand, h1 {
  font-family: "Rowdies", sans-serif;
}

#inicio p {
  font-family: "Roboto", sans-serif;
}

nav li, nav button {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  border: none !important;
}

.smellbook .verao {
  color: var(--verao);
}

.smellbook .inverno {
  color: var(--inverno);
}

.smellbook .outono {
  color: var(--outono);
}

.smellbook .primavera {
  color: var(--primavera);
}

.cadernetas {
  width: 612px;
}

#sobre {
  background-color: var(--primaria);
}

#sobre h2 {
  font-family: "Poppins", sans-serif;
}

#sobre .cards {
  margin-top: 70px;
}

#sobre {
  min-height: inherit;
  padding: 80px;
}

#sobre .colunaimg {
  position: relative;
}

#sobre .quadrado-branco {
  position: absolute;
  background-color: #ffffff;
  left: -10%;
  top: -10%;
  width: 363px;
  height: 344px;
  z-index: 10;
}

.icone-caracteristica {
  font-size: 72px;
}

.caracteristica-verao {
  color: var(--verao);
}

.caracteristica-outono {
  color: var(--outono);
}

.caracteristica-primavera {
  color: var(--primavera);
}

.caracteristica-inverno {
  color: var(--inverno);
}
